<%- include("partials/header") -%>


<h1><%= pageTitle %></h1>
<p><%= startingContent %></p>

<% posts.forEach((post) => { %>

    <h1> <%= post.title %></h1>

    <p>
        <% for(let i=0; i<100; i++) { %><%= post.body[i] %><% } %>...
    </p><a href="/posts/<%= post.title.replace(' ', '-').toLowerCase() %>">Read me</a>

<% }) %>


<%- include("partials/footer") -%>